<div>
<h1>Add a course</h1>
    <form action="/course/add" method="post">
        <p>
            <label>Course Name</label> <input value="" Name="CourseName" />
            <br />
            <br />

            <label>Course Duration</label> <input value="" Name="CourseDuration" />
            <br />
            <br />
            <label>Course Fees</label> <input value="" Name="CourseFee" />
            <br />
            <br />
            <button type="Submit"> Add Course </button>
        </p>
    </form>
</div>