<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1> Course List</h1>

<table border: 1px solid>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Fees</th>
        <th>Duration</th>

    </tr>
    {{#each data}}
    <tr>
        <td>{{this.CourseId}}</td>
        <td>{{this.CourseName}}</td>
        <td>{{this.CourseFee}}</td>
        <td>{{this.CourseDuration}}</td>
    </tr>
    {{/each}}

</table>

</body>
</html>